#main-menu #extension-node-red-extension-menu-item {
  background-image: url('./node-red-icon.svg');
}

#extension-node-red-extension-view {
  height: calc(100% + 4rem);
  width: calc(100% + 4rem);
  top: -2rem;
  left: -2rem;
  box-sizing: border-box;
  overflow: none;
  position: relative;
}

#extension-node-red-extension-view iframe {
  width: 100%;
  height: 100%;
}
